<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>What Sneaker Is That?</title>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>WHAT SNEAKER IS THAT?</div>
        <p>
            Upload a photo of a Nike sneaker by clicking below, and we'll tell you what it is!
            <br>
            <br>
            It currently classifies 24 different Nike sneakers (Air Jordan 1-15, Air Max 1, Air Max 90,
            Air Max 95, Air Max 97, Air Max 270, Epic React, Vapormax, Pegasus 35, and Foamposite).
            <br>
            <br>
            The model returns the top three predicted sneakers along with their probabilities.
        </p>
        <div>
          <!-- <img src="updated_grid.png" alt="Shoes Training Dataset" style="width:400px;height:266px;border:0;">  -->
          <!-- <img src="https://drive.google.com/uc?id=1EyFNpJe2q1CWO3bAZhH6CKQBLJWmC6eZ" alt="Shoes Training Dataset" style="width:400px;height:266px;border:0;">  -->
          <img src="https://i.imgur.com/grH9RtE.png" alt="Shoe Training Dataset" style="width:400px;height:266px;border:0;">
          <!-- <img src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto/iiipva134zgtgkmuwszb/air-jordan-5-retro-mens-shoe-df9lGp.jpg" alt="Shoes Training Dataset" style="width:300px;height:300px;border:0;"> -->
        </div>
        <p>
            The model is trained on ~4k total images and achieves 91% accuracy on the validation set,
            though the dataset has some duplicates from the image collection process,
            so this percentage is on the optimistic side.
        </p>
        <p>
            Made by Chris Pontarolo-Maag
            <a href="https://github.com/chrispmaag">
              <img class='github' src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width:25px;height:25px;border:0;vertical-align:middle;">
            </a>
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
