@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v7/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #262626;
    font-family: 'Permanent Marker', Arial, sans-serif;
    font-weight: 700;
}

.content {
    margin-top: 1em;
}

.analyze {
    margin-top: 2em;
}

.upload-label {
    padding: 10px;
    font-size: 16px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 20px;
    font-family: 'Permanent Marker', Arial, sans-serif;
    font-weight: 700;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 16px;
  color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 16px;
    background-color: #7052CB;
    font-size: 16px;
    color: #ffffff;
}

button:focus {outline:0;}
